<div class="container">
    <mat-card class = "formCard">
        <form [formGroup]="formData" (ngSubmit)="onSubmit()" class = "formulario">
            <!--Nombre-->
            <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input
                        matInput
                        placeholder="Vampiro"
                        formControlName="name"
                        (blur)="updateErrorNameMessage()"
                        required
                    />
                    @if (formData.controls['name'].invalid) {
                        <mat-error>{{nameError()}}</mat-error>
                    }
                </mat-form-field>

            <!--Email-->
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input
                matInput
                placeholder="pat@example.com"
                formControlName="email"
                (blur)="updateErrorEmailMessage()"
                required
                />
                @if (formData.controls['email'].invalid) {
                    <mat-error>{{emailError()}}</mat-error>
                }
            </mat-form-field>

            <!--Tipo de invitado-->
            <mat-form-field appearance="outline">
                <mat-label>Tipo de invitado</mat-label>
                <mat-select formControlName="type">
                    @for( t of invitationTypeList; track t) {
                    <mat-option [value]="t">{{ t }}</mat-option>
                    }
                </mat-select>
                @if (formData.controls['type'].invalid) {
                    <mat-error>Debes seleccionar un tipo de invitado</mat-error>
                }
            </mat-form-field>

            <!--disfraz-->
            <mat-form-field appearance="outline">
                <mat-label>Disfraz</mat-label>
                <input
                    matInput
                    formControlName="costume"
                    (blur)="updateErrorCostumeMessage()"
                    required
                />
                @if (formData.controls['costume'].invalid) {
                    <mat-error>{{costumeError()}}</mat-error>
                }
            </mat-form-field>
            
            <!--Fecha llegada-->
            <mat-form-field appearance="outline">
                <mat-label>Choose a date</mat-label>
                <input
                    matInput
                    [matDatepicker]="picker"
                    formControlName="enterDate"
                    readonly>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <!--Acepta Reglas-->
            <div>
                <mat-checkbox formControlName="aceptTerms">
                    Prometo no morder a nadie
                </mat-checkbox>
                @if (formData.get('aceptTerms')?.hasError('required')) {
                    <mat-error>{{costumeError()}}</mat-error>
                }
            </div>
            <button matButton="outlined" type="submit">Enviar</button>
        </form>
    </mat-card>
</div>