.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo{
    font-weight: bold;
    color: black;
    height: 10%;
    visibility: hidden;
}

.contenido{
    font-weight: bold;
    color: black;
    height: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}