.container{
    display:grid;
    grid-template-rows: 1fr 5fr;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}

.item{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
html,body{
    width: 100%;
    height: 100%;
}
.registerString{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: var(--form-text-color);
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1294px) {
    .content{
        display: grid;
        grid-template-columns: 1fr;
        gap:5%;
    }
}
