.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}


.row {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}


.row > div {
    flex: 1;                
    max-width: 150px;      
}

/* Botón base */
.boton {
    width: 100%;            /* ocupa todo el ancho disponible de la celda */
    aspect-ratio: 1 / 1;    /* siempre cuadrado */
    border: none;
    border-radius: 12px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Imagen dentro del botón */
.topo {
    width: 80%;
    height: 80%;
    object-fit: contain;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Estado activo (verde) */
.verde {
    background-color: green;
    color: white;
}

.topo-enter {
  opacity: 0;
  transform: translateY(20px);
}

.topo-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.topo-leave {
  opacity: 1;
  transform: translateY(0);
}

.topo-leave-active {
  opacity: 0;
  transform: translateY(20px);
}

p{
    color: var(--text-color);
}
