.row{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: row;
    gap: 10px;
}
.column{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: column;
    gap: 10px;
}

.verde {
  background-color: green;
  color: white;
}

.boton{
    color: white;
    border: none;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}