.row{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: row;
}
.column{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: column;
}