<div class="container">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="form">
        <div class="labelDiv">
            <label for="nombre">{{ 'FORM.NAME' | translate }}</label>
            <input id="nombre" formControlName="nombre">
            @if(formulario.controls['nombre'].touched){
            <small class="error_MSG">
                @if(formulario.controls['nombre'].hasError('required')){
                {{ 'FORM.ERRORS.REQUIRED_NAME' | translate }}
                }
                @if(formulario.controls['nombre'].hasError('minlength')){
                {{ 'FORM.ERRORS.MIN_LENGTH' | translate }}
                }
                @if(formulario.controls['nombre'].hasError('maxlength')){
                {{ 'FORM.ERRORS.MAX_LENGTH' | translate }}
                }
            </small>
            }
        </div>

        <div class="labelDiv">
            <label for="email">{{ 'FORM.EMAIL' | translate }}</label>
            <input id="email" formControlName="email">
            @if(formulario.controls['email'].touched){
            <small class="error_MSG">
                @if(formulario.controls['email'].hasError('required')){
                {{ 'FORM.ERRORS.REQUIRED_EMAIL' | translate }}
                }
                @if(formulario.controls['nombre'].hasError('email')){
                {{ 'FORM.ERRORS.INVALID_EMAIL' | translate }}
                }
            </small>
            }
        </div>

        <div class="btnsub">
            <button type="submit">{{ 'FORM.SEND' | translate }}</button>
            <button type="button" (click)="reset()">{{ 'FORM.RESET' | translate }}</button>
        </div>

    </form>
</div>