.app-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: visible;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    
}

.nav-bar{
    width: 100%;
}

.content{
    flex-grow: 1;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
}

.christmasBanner{
    position: fixed;
    left: 0;
    width: 100%;
    height: 25px; 
    background-image: url('/Guirnalda.png'); 
    background-repeat: repeat-x; 
    background-size: 125px 25px; 
    opacity: 0.7; 
    z-index: 1000;
    pointer-events: none;
    margin-top: 0;
}

.presentsBanner{
    position: fixed;
    aspect-ratio: 441 / 1290;
    background-repeat: no-repeat; 
    bottom: 0;
    right: 0;
    height: 41%; 
    background-image: url('/regalosEsquina.png'); // Ruta a tu imagen
    pointer-events: none;
    background-size: 100% 100%;
}