@use '@angular/material' as mat;

.kanban-header{
  display: flex;
  min-height: 100%;
  align-items: center;
  margin-bottom: 16px;
  flex-direction: column;
  background-color: var(--background-color);
}

.kanban-grid {
  min-height: 100%;
  display:flex;
  flex-direction: row;

  width: 96%;

  gap: 2%;

  margin: 2%;

  color: var(--card-text-color)
}

.kanban-column {
  width: 100%;
  min-height: 200px;

  
  

  border: 1px solid #ccc;

  padding: 8px;
  border-radius: 4px;

  background-color: var(--card-background-color);
}

.task-card {
  overflow: hidden;
  width: 100%;
  margin-bottom: 8px;
  cursor: grab;
}

.task-card.cdk-drag-preview {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border-radius: 8px;
}

.task-card.cdk-drag-placeholder {
  opacity: 0;
}

.sep{
  flex: 1 1 auto;
}

.hed{
  display: flex;
  align-items: center;
  margin-left: 2%;
  justify-content: center;
}

.btnAdd{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.formCard{
  border-color: var(--card-border-color);
  width: 80%;
}

.formulario{
  display: grid;
  grid-template-columns: 1fr;
  margin: 2%;
}

.formContainer{
  background-color: var(--background-color);
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.botonesForm{
  display: flex;
  justify-content: space-around;
}

