<div class="formContainer">
    <form [formGroup]="FormData" (ngSubmit)="onSubmit()" class="formulario">
        <mat-form-field apparence="outline">
            <mat-label>{{ 'KANBAN.DIALOG.TITLE' | translate }}</mat-label>
            <input matInput formControlName="name" required />
        </mat-form-field>
        <mat-form-field apparence="outline">
            <mat-label>{{ 'KANBAN.DIALOG.DESCRIPTION' | translate }}</mat-label>
            <input matInput formControlName="description" required />
        </mat-form-field>
        <mat-form-field apparence="outline">
            <mat-label>{{ 'KANBAN.DIALOG.STATE' | translate }}</mat-label>
            <mat-select formControlName="state" required>
                @for (state of states; track state) {
                <mat-option [value]="state">{{ 'KANBAN.' + state | translate | titlecase }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <div class="botonesForm">
            <button matButton="outlined" type="submit">{{ 'KANBAN.DIALOG.SEND' | translate }}</button>
            <button matButton="outlined" type="button" (click)="this.dialogRef.close()">{{ 'KANBAN.DIALOG.CANCEL' |
                translate }}</button>
        </div>

    </form>
</div>