.store-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px;
    background-color: #000000;
    /* Dark background for the store list */
    height: 100%;
    overflow-y: auto;
}

.store-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('https://orteil.dashnet.org/cookieclicker/img/storeTile.jpg');
    /* Classic texture if available, or fallback */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #3c3c3c;
    border: 3px solid #555;
    border-color: #ececec #555 #555 #ececec;
    /* Beveled look */
    padding: 10px;
    cursor: pointer;
    color: white;
    font-family: 'Tahoma', sans-serif;
    height: 64px;
    position: relative;
    transition: transform 0.1s;
    user-select: none;

    &:hover {
        filter: brightness(1.2);
        border-color: #fff #aaa #aaa #fff;
    }

    &:active {
        transform: scale(0.98);
        border-color: #555 #ececec #ececec #555;
    }

    .icon {
        width: 48px;
        height: 48px;
        background-color: #000;
        margin-right: 10px;
        border: 1px solid #fff;
        /* Placeholder for icon */
    }

    .content {
        flex: 1;
        display: flex;
        flex-direction: column;

        .name {
            font-weight: bold;
            font-size: 1.2em;
            text-shadow: 0px 1px 2px #000;
        }

        .price {
            color: #6f6;
            font-weight: bold;
            text-shadow: 0px 1px 1px #000;
        }
    }

    .count {
        font-size: 2em;
        color: #fff;
        text-shadow: 0px 0px 4px #000, 0px 0px 2px #000;
        /* Strong shadow for contrast */
        font-weight: bold;
        margin-left: 10px;
        opacity: 0.6;
        /* Slightly transparent but white base */
    }
}