.store-container {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    height: 100%;
    overflow: hidden;
}

::ng-deep .store-tabs {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;

    .mat-mdc-tab-group {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .mat-mdc-tab-body-wrapper {
        flex: 1;
        overflow: auto;
    }

    .mat-mdc-tab-body-content {
        overflow: visible;
    }

    .mat-mdc-tab-label-container {
        background-color: #1a1a1a;
    }

    .mat-mdc-tab-labels {
        background-color: #1a1a1a;
    }

    .mat-mdc-tab {
        color: #aaa !important;
        opacity: 1 !important;

        .mdc-tab__text-label {
            color: #aaa !important;
        }

        &.mdc-tab--active {
            .mdc-tab__text-label {
                color: var(--accent-color, #64ffda) !important;
            }
        }
    }

    .mdc-tab-indicator__content--underline {
        border-color: var(--accent-color, #64ffda) !important;
    }
}

.upgrades-list {
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: #000;
}


.store-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('https://orteil.dashnet.org/cookieclicker/img/storeTile.jpg');
    /* Classic texture if available, or fallback */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #3c3c3c;
    border: 3px solid #555;
    border-color: #ececec #555 #555 #ececec;
    /* Beveled look */
    padding: 10px;
    cursor: pointer;
    color: white;
    font-family: 'Tahoma', sans-serif;
    height: 64px;
    position: relative;
    transition: transform 0.1s;
    user-select: none;

    &:hover {
        filter: brightness(1.2);
        border-color: #fff #aaa #aaa #fff;
    }

    &:active {
        transform: scale(0.98);
        border-color: #555 #ececec #ececec #555;
    }

    .icon {
        width: 48px;
        height: 48px;
        background-color: #000;
        margin-right: 10px;
        border: 1px solid #fff;
        /* Placeholder for icon */
    }

    .content {
        flex: 1;
        display: flex;
        flex-direction: column;

        .name {
            font-weight: bold;
            font-size: 1.2em;
            text-shadow: 0px 1px 2px #000;
        }

        .price {
            font-size: 0.9em;
            color: #ffeb3b;
        }

        .bonus {
            font-size: 0.85em;
            color: #4caf50;
            font-weight: bold;
            margin-top: 2px;
        }
    }


    .count {
        font-size: 2em;
        color: #fff;
        text-shadow: 0px 0px 4px #000, 0px 0px 2px #000;
        font-weight: bold;
        margin-left: 10px;
        opacity: 0.6;
    }

    // Affordable state
    &.affordable {
        cursor: pointer;

        &:hover {
            filter: brightness(1.3);
            border-color: #6f6 #8c8 #8c8 #6f6;
        }
    }

    // Unaffordable state
    &.unaffordable {
        opacity: 0.5;
        cursor: not-allowed;
        filter: grayscale(0.6);

        &:hover {
            filter: grayscale(0.6) brightness(1.1);
        }

        .price {
            color: #f66;
        }
    }
}