
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

:root{

  //colores generales
  --background-color: #ffffff;
  --text-color: #000000;
  --accent-color: #007acc;
  --secundary-color: #e0e0e0;

  //colores navBar parta el scss
  --nav-bar-hover-color : #007acc;

  //colores de las nav-card
  --card-background-color :  #e0e0e0;
  --card-border-color : #000000;
  --card-text-color : #000000;

  //formularios
  --form-text-color : #000;
  --form-border-color : #000;
}

@include mat.checkbox-overrides((
  label-text-color : var(--form-text-color),
  selected-icon-color : var(--form-text-color), 
  selected-hover-icon-color : var(--form-text-color),
  unselected-hover-icon-color : var(--form-text-color),
));

@include mat.form-field-overrides((
  outlined-label-text-color : var(--form-text-color),
  outlined-focus-outline-color : var(--form-border-color),
  outlined-outline-color : var(--form-border-color) ,
  outlined-hover-outline-color : var(--form-border-color) ,
));

@include mat.table-overrides((
    background-color: var(--card-background-color),
    row-item-label-text-color : var(--form-text-color),
    header-headline-color : var(--form-text-color),
    row-item-outline-color : var(--card-border-color)
    
  ));

@include mat.datepicker-overrides((
  toggle-icon-color : var(--form-text-color),
));

@include mat.card-overrides((
  elevated-container-color : var(--card-background-color),
));

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
